name: Tests

on: [push, pull_request]

jobs:
  build:
    name: Tests

    runs-on: ubuntu-latest

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build the docker image
        run: docker build -t devenv .

      - name: Run the image
        run: docker run devenv ginkgo -r -p --randomizeAllSpecs --randomizeSuites --failOnPending --cover --trace --race --compilers=2 --skipPackage=wallet
